<div class="copyright">
  <span class="copyright-date">© 2020</span>
  <span class="copyright-author">by Moritz Petzka</span>
  <span class="copyright-website"><a href="https://petzka.com" target="_blank">petzka.com</a></span>
  <span class="copyright-repository">repository: <a href="https://github.com/jodermo/angular-radio-browser"
                                                 target="_blank">jodermo/angular-radio-browser</a></span>
  <span class="copyright-email" target="_blank">email: <a href="mailto:info@petzka.com">info@petzka.com</a></span>
</div>
