
.radio-header {
  width: 100%;
  background: #000;
  color: #fff;
  padding: .25rem;

}

.radio-body {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  padding: .25rem;

  .radio-thumbnail {
    position: relative;
    width: 120px;
    height: auto;
    padding: .5rem;

    &.small {
      width: 64px;
    }

    .radio-favicon {
      display: inline-block;
      width: 100%;
      height: auto;
    }

  }

  .radio-info {
    position: relative;
    padding: 0 .5rem;
    flex: 1;
    border-left: 1px solid #fff;
    .radio-name{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    th{
      text-align: right;

    }
  }
}
@media (max-width: 1024px) {
  .radio-body {
    .radio-thumbnail {
      width: 60px;
      &.small {
        width: 32px;
      }

    }
  }
}
