<section class="app-wrapper">
  <header class="app-header">
    <h1>mucke.online</h1>
    <h2>radio browser</h2>
    <div style="float: right; opacity: .5;">you want some fancy animated visuals? take a look on <a href="http://3d.mucke.online" target="_blank">3d.mucke.online</a></div>
  </header>
  <main class="app-content">
    <app-radio-browser [visuals]="visuals"></app-radio-browser>
  </main>
  <footer class="app-footer">
    <button (click)="clearStorage()" style="float: left;">clear storage</button>
    <app-copyright></app-copyright>
  </footer>
</section>
