body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  background: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button, input[type="submit"] {
  background: #000;
  color: #ccc;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all .25s ease;
}

button:hover, input[type="submit"]:hover {
  background: #666;
  color: #fff;
}

button.active, input[type="submit"].active {
  background: #666;
  color: #fff;
  cursor: default;
}

button.inactive, input[type="submit"].inactive {
  opacity: .75;
  pointer-events: none;
}

button span, input[type="submit"] span {
  pointer-events: none;
}

.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.app-header {
  position: relative;
  width: 100%;
  height: 2rem;
  padding: .5rem;
  background: #000;
  box-shadow: 0 2px 1rem 0 rgba(0, 0, 0, 0.75);
}

.app-header h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-right: .5rem;
  float: left;
}

.app-header h2 {
  margin: 0;
  padding: 0;
  font-size: .8rem;
  float: left;
  opacity: .5;
}

.app-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem;
}

.app-footer {
  position: absolute;
  width: 100%;
  height: 2rem;
  left: 0;
  bottom: 0;
  padding: .5rem;
  background: #000;
  box-shadow: 0 2px 1rem 0 rgba(0, 0, 0, 0.75);
  text-align: right;
}

.app-footer .copyright {
  opacity: .5;
  float: right;
}

.app-footer .copyright span {
  margin-right: .5rem;

}

.start-view {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  padding: 2rem .5rem 3rem .5rem;
  text-align: center;
  background: #00202d;
  z-index: 9999;
}
.start-view .copyright{
  opacity: .5;
}

.start-view .inside {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}
.start-view .logo {
  width: 180px;
  height: auto;
  margin: .5rem auto;
}

.start-view h1 {
  font-size: 3rem;
  line-height: 3.1rem;
  margin: 0;
  padding: 0;
}
.start-view h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  margin: .5rem 0;
  padding: 0;
}
.start-view h3 {
  font-size: 1rem;
  line-height: 1.1rem;
}

.start-view label {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  display: flex;
  margin: 0 auto;
}

.start-view label > * {
  flex: 1;
}

.start-view input {
  max-width: 250px;
  padding: .5rem;
  border: none;
  border-radius: .25rem;
}

.start-view input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.start-view input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


@media (max-width: 1024px) {
  body {
    font-size: 10px;
    line-height: 11px;
  }

  .app-content {
    padding-bottom: 0;
  }

  .app-header{
    display: none;
  }

  .copyright-repository, .copyright-email{
    display: none;
  }

  .start-view .logo {
    width: 120px;
    height: auto;
    margin: .5rem auto;
  }

  .start-view h1 {
    font-size: 2rem;
    line-height: 2.1rem;
  }
  .start-view h2 {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .start-view h3 {
    font-size: 1rem;
    line-height: 1.1rem;
  }

}
