@import "../radio-browser.component";

.radio-header {
  width: 100%;
  background: #000;
  color: #fff;
  padding: .25rem;
  font-size: 1.5rem;
  line-height: 1.6rem;
  text-align: center;

}

.radio-header + .radio-body {
  background: #005c7c;
}

.radio-body {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 140px;
  max-height: 500px;
  display: flex;
  padding: .25rem;
  transition: all .5s ease;


  .radio-thumbnail {
    position: relative;
    width: 120px;
    height: auto;
    padding: .5rem;

    &.small {
      width: 64px;
    }

    .radio-favicon {
      display: inline-block;
      width: 100%;
      height: auto;
    }

    .favorite-star {
      position: absolute;
      top: .5rem;
      left: .5rem;
    }

  }


  .radio-info {
    position: relative;
    padding: 0 .5rem;
    flex: 1;
    border-left: 1px solid #fff;


    .radio-name {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    table {
      font-size: .7rem;
      color: #ccc;
    }

    th {
      text-align: right;

    }
  }
}

@media (max-width: 1024px) {
  .radio-header{
    font-size: 1rem !important;
  }
  .radio-body {
    min-height: 120px;



    .radio-thumbnail {
      width: 60px;

      &.small {
        width: 32px;
      }

    }
  }
}
