
.favorite-star, .search-icon {
  position: relative;

  &:before {
    text-shadow: 0 0 .25rem rgba(0, 0, 0, .75);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transition: all .25s ease;
    opacity: 0;
  }

  font-size: 1.5rem;
  float: right;
  margin-left: .5rem;
  cursor: pointer;
  opacity: .5;
  z-index: 2;

  transition: all .25s ease;

  &:hover {
    transform: scale(1.2);
    opacity: 1;
  }

  &.active {
    color: #ff004f;
    opacity: 1;
    transform: scale(1.2);

    &:hover:after {
      color: #ffffff;
      content: '🛇';
      transform: scale(1.5);
      opacity: .5;
    }
  }
}

.favorite-star {

  &:before {
    content: '❤';
  }

  &.active {
    color: #ff004f;
    opacity: 1;
    transform: scale(1.2);

    &:hover:after {
      color: #ffffff;
      content: '🛇';
      transform: scale(1.5);
      opacity: .5;
    }
  }
}

.filter-options-icon {
  position: relative;
  font-size: 2rem !important;
  padding: 0 !important;

  &:before {
    content: '⛭';
  }

  &.active {
    color: #ffffff;
    opacity: 1;
    transform: scale(1.2);

    &:hover:after {
      color: #ffffff;
      content: '🛇';
      transform: scale(1.5);
      opacity: .5;
    }
  }
}

.list-icon {
  position: relative;
  font-size: 2rem !important;
  padding: 0 !important;

  &:before {
    content: '≡';
  }

  &.active {
    color: #ffffff;
    opacity: 1;
    transform: scale(1.2);

    &:hover:after {
      color: #ffffff;
      content: '🛇';
      transform: scale(1.5);
      opacity: .5;
    }
  }
}

.grid-layout {
  .radio-search-results-list {
    display: flex;
    flex-wrap: wrap;
    padding: .25rem !important;
    .radio-search-results-item {
      flex: 15%;
      margin: .25rem;
      border-radius: .25rem;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.5);
      overflow: hidden;
      &:hover, &.active {
        transform: scale(1.05);
        z-index: 9;
      }
    }
  }

  .radio-body {
    flex-direction: column !important;
  }
}

.search-icon {
  &:before {
    content: '⌕';
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > .inside {
    width: auto;
    height: auto;
    background: #005c7c;
    padding: 1.5rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.5);
    border-radius: .25rem;

    h3 {

    }

    p {

    }

    .overlay-buttons {
      button {
        padding: .5rem;
        margin-right: .25rem;
      }
    }
  }
}

.web-radio {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #00202d;


  * {
    box-sizing: border-box;
  }


  .inside {
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .audio-player {
      .progressbar {
        position: relative;
        width: 100%;
        height: .5rem;
        background: rgba(0, 0, 0, 0.5);

        .progressbar-fill {
          height: 100%;
          background: rgba(255, 255, 255, 1);
        }
      }

      .audio-player-controls {
        position: relative;
        width: 100%;
        display: flex;
        height: 3rem;
        line-height: 2rem;

        button {
          font-size: 1.5rem;
        }

        & > * {
          flex: 1;

          &.progress-info {
            background: #005c7c;
            flex: 3;
            padding: .5rem;
            text-align: center;
            transition: all 1.5s ease;
            font-weight: bold;

            &.loading {
              background: #000000;
              animation: blink-animation 1.5s infinite;
            }

            &.paused {
              background: #666666;
            }
          }
        }


        .button-placeholder {
          flex: 3;
          background: #000;
          text-align: center;
        }

        .button-placeholder-small {
          background: #000;
          text-align: center;
        }


      }


    }

    .radio-result-navigation {
      display: flex;

      & > button {
        background: #111111;
        flex: 1;
        line-height: 1.5rem;
        font-size: 1.5rem;
        padding: .5rem;

        &:hover, &.active {
          background: #3a3a3a;
        }

        &.inactive {
          opacity: .5;
        }

        span {
          float: inherit;
          line-height: 1.5rem;
          font-size: 1.5rem;
          box-shadow: none;
        }
      }
    }

    .audio-player-filter {
      background: rgba(0, 0, 0, 0.5);

      .filter-group {

        position: relative;
        width: 100%;
        display: flex;
        padding: 0.25rem;
      }

      label {
        position: relative;
        width: 100%;
        display: flex;
        padding: .75rem 0 .5rem 0;

        & > span {
          position: absolute;
          padding: 0 .5rem;
          text-align: right;
          transform: translateY(-90%);
          font-size: .5rem;
        }

        input, select {
          margin: 0 .25rem 0 0;
          padding: .5rem;

          &:last-child {
            margin-right: 0;
          }
        }

        & > * {
          flex: 1;
        }
      }
    }

    .radio-search-results {
      overflow-x: hidden;
      overflow-y: auto;
      flex: 1;

      .radio-search-results-list {
        list-style: none;
        padding: 0 0 3rem 0;
        margin: 0;

        .radio-search-results-item {
          position: relative;
          border: 1px solid transparent;
          width: 100%;
          height: auto;
          cursor: pointer;
          transition: all .15s ease;
          color: #fff;

          &:hover {
            background: #000;
          }

          &.active {
            border: 1px solid #fff;
            background: #005c7c;

          }
        }

        li:last-child {
          padding: .5rem;
        }
      }
    }
  }
}


app-radio-preview {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .grid-layout {
    .radio-search-results-list {
      .radio-search-results-item {
        flex: 25%;
      }
    }
  }
}

@keyframes blink-animation {
  to {
    background: #9d0000;
  }
}
