<div class="web-radio" *ngIf="radio.firstSearch">
  <div class="inside">
    <div class="audio-player" *ngIf="radio.audio">
      <div *ngIf="radio.station">
        <app-radio-station-preview [station]="radio.station" [details]="true"></app-radio-station-preview>
      </div>
      <div class="progressbar">
        <div class="progressbar-fill"
             [ngStyle]="{'width': ((radio.time / radio.duration) * 100) + '%'}"></div>
      </div>
      <div class="audio-player-controls horizontal-flex">
        <button class="play-button" *ngIf="radio.stationReady && radio.audio && radio.audio.paused"
                (click)="radio.togglePause()"
                [ngClass]="{inactive:(!radio.audio || !radio.audio.paused)}">
          play
        </button>
        <button class="pause-button" *ngIf="radio.stationReady && radio.audio && !radio.audio.paused"
                (click)="radio.togglePause()"
                [ngClass]="{inactive:(!radio.audio || radio.audio.paused)}">
          pause
        </button>
        <div *ngIf="!radio.stationReady" class="button-placeholder-small"></div>
        <button class="mute-button" *ngIf="radio.stationReady" (click)="radio.toggleMute()"
                [ngClass]="{inactive:(!radio.audio), active: (radio.audio.volume <= 0)}">
          mute
        </button>
        <div *ngIf="!radio.stationReady" class="button-placeholder-small"></div>
        <button *ngIf="!showFavorites" class="prev-button" (click)="radio.selectPrevStation()">
          <
        </button>
        <div *ngIf="showFavorites" class="button-placeholder-small"></div>
        <button *ngIf="!showFavorites" class="prev-button" (click)="radio.selectNextStation()" >
          >
        </button>
        <div *ngIf="showFavorites" class="button-placeholder-small"></div>
        <div class="progress-info" [ngClass]="{loading:(!radio.stationReady), paused:(radio.audio.paused)}">
          <span *ngIf="radio.stationReady && radio.checkTimeString(radio.timeString)">{{radio.timeString}}</span>
          <span
            *ngIf="radio.stationReady && radio.checkTimeString(radio.durationString)">/ {{radio.durationString}}</span>
          <span *ngIf="!radio.stationReady">loading</span>
        </div>
      </div>
    </div>
      <div class="radio-result-navigation">
        <button (click)="showFavorites = false" [ngClass]="{active:(!showFavorites)}">
          <span class="search-icon"></span>
          Search
        </button>
        <button (click)="showFavorites = true" [ngClass]="{active:(showFavorites), inactive:(!radio.favoriteStations.length)}">
          <span class="favorite-star" [ngClass]="{active:(radio.favoriteStations.length)}" ></span>
          Favorites
        </button>
      </div>
      <div class="audio-player-filter" *ngIf="!showFavorites">
        <div class="filter-group">
          <label *ngIf="radio.currentFilterType && radio.currentFilterType.filterBy">
            <span>Search</span>
            <input *ngIf="!radio.currentFilterType || !radio.currentFilterType.options" type="text"
                   [(ngModel)]="radio.filter.value"
                   placeholder="search" (change)="radio.searchStations()" (keyup)="radio.searchStations()" required/>

          </label>
          <label>
            <span>Search for</span>
            <select [(ngModel)]="radio.filter.by" (change)="radio.searchStations()">
              <option *ngFor="let by of radio.currentFilterType.filterBy" [value]="by">{{by}}</option>
            </select>
          </label>
        </div>
        <div class="filter-group extended-filter">
          <label>
            <span>Sort by</span>
            <select [(ngModel)]="radio.filter.order" (change)="radio.searchStations()">
              <option *ngFor="let orderType of radio.oderTypes" [value]="orderType">{{orderType}}</option>
            </select>
          </label>
          <label>
            <span>Limit</span>
            <input type="number" [(ngModel)]="radio.filter.limit" (change)="radio.searchStations()"
                   (keyup)="radio.searchStations()"/>
          </label>
        </div>
      </div>
      <div class="radio-search-results" *ngIf="!showFavorites">
        <ul class="radio-search-results-list" *ngIf="radio.searchResult">
          <li *ngFor="let resultStation of radio.searchResult" class="radio-search-results-item" id="radio_{{resultStation.stationuuid}}"
              (click)="radio.selectStation(resultStation)"
              [ngClass]="{active: (radio.station === resultStation)}">
            <app-radio-station-preview [station]="resultStation"></app-radio-station-preview>
          </li>
          <li>
            Searching Data from "radio-browser.info": <a href="http://www.radio-browser.info" target="_blank">www.radio-browser.info</a><br>
          </li>
        </ul>
      </div>
    <div class="radio-search-results" *ngIf="showFavorites">
      <ul class="radio-search-results-list" *ngIf="radio.favoriteStations">
        <li class="radio-search-results-item" *ngFor="let resultStation of radio.favoriteStations" id="radio_{{resultStation.stationuuid}}"
            (click)="radio.selectStation(resultStation)"
            [ngClass]="{active: (radio.station === resultStation)}">
          <app-radio-station-preview [station]="resultStation"></app-radio-station-preview>
        </li>
        <li>
          Searching Data from "radio-browser.info": <a href="http://www.radio-browser.info" target="_blank">www.radio-browser.info</a><br>
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="start-view" *ngIf="!radio.firstSearch">
  <div class="inside">
    <h3>Search Radio Station</h3>
    <div class="audio-player-filter">
      <div class="filter-group">
        <label *ngIf="radio.currentFilterType && radio.currentFilterType.filterBy">
          <input *ngIf="!radio.currentFilterType || !radio.currentFilterType.options" type="text"
                 [(ngModel)]="radio.filter.value"
                 placeholder="Station Name"  (keydown.enter)="radio.searchStations()"
                 required/>
          <input type="submit" value="Search" (click)="radio.searchStations()"/>
        </label>
      </div>
    </div>

  </div>
  <app-copyright></app-copyright>
</div>
